.carousel {
  padding: 20px;
  text-align: center;
}

.carousel .arrows, .view-larger {
  padding: 20px;
  color: #D3D3D3;
  font-size: 20px;
}

.carousel .arrows:hover, .view-larger:hover {
  cursor: pointer;
  color: #333333;
}

.carousel .primary {
  margin: auto;
  padding-bottom: 20px;
}

.carousel .thumbnail {
  max-width: 100px;
  max-height: 100px;
}
