button {
  align-items: flex-start;
  margin: 3px;
}

.primary-button-group, .secondary-button-group {
  text-align: center;
  padding:20px 0px;
}

.available-in-store {
  background: #333333;
  border-color: #333333;
}

.available-in-store:hover {
  background: #000000;
  border-color: #000000;
}

.available-online {
  background: #CA0813;
  border-color: #CA0813;
}

.available-online:hover {
  background: #A8050F;
  border-color: #A8050F;
}
