.ratings {
  display: block;
  background-color: #FFFFFF;
}

.ratings p {
  padding-top: 10px;
  padding-left: 10px;
  float: left;
}

.ratings a {
  padding-top: 10px;
  float: right;
}

.stars {
  border: none;
  float: left;
}

.stars > input {
  display: none;
}

.stars > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.stars > .half:before {
  content: "\f089";
  position: absolute;
}

.stars > label {
  color: #ddd;
  float: right;
}

.stars > input:checked ~ label,
.stars > input:checked + label:hover,
.stars > input:checked ~ label:hover,
.stars > label:hover ~ input:checked ~ label,
.stars > input:checked ~ label:hover ~ label
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
  color: #CA0813;
}

.reviews {
  background-color: #EAEAEA;
  padding: 10px;
  font-size: smaller;
}

.reviews hr {
  margin-top: 0px;
}

.reviews-header {
  display: flex;
}

.reviews-body {
  display: flex;
}
