.secondary-button-group {
  text-align: center;
  padding:20px 0px;
}

.secondary-button-group .btn {
  color: black;
  background: #EAEAEA;
  border-color: #EAEAEA;
}

.secondary-button-group .btn:hover {
  background: #D3D3D3;
  border-color: #D3D3D3;
}
