@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

@media (max-width: 480px) {
  .container {
    margin: 20px;
    padding: 20px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-weight: 300;
}

.price h2 {
  font-weight: 700;
}

small {
  font-size: small;
}

button {
  align-items: flex-start;
  margin: 3px;
}

a {
  color: #000000;
  font-weight: 700;
}

a:hover {
  color: #CA0813;
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  padding: 50px;
}

.carousel {
  padding: 20px;
  text-align: center;
}

.carousel .primary {
  margin: auto;
}

.carousel .thumbnail {
  max-width: 100px;
  max-height: 100px;
}

.promotions {
  color: #CA0813;
}

.quantity-picker {
  border: thin solid #E5E5E5;
  display: inline-block;
}

.quantity-picker label {
  margin-top: 10px;
  padding-right: 10px;
  float: left;
}

.quantity-picker .fa-plus-circle, .quantity-picker .fa-minus-circle {
  margin-top: 6px;
  float: right;
  color: #D3D3D3;
  font-size: 30px;
}

.quantity-picker .fa-plus-circle:hover, .quantity-picker .fa-minus-circle:hover {
  color: #000000;
  cursor: pointer;
}

.quantity-picker input {
  margin-top: 10px;
  text-align: center;
  float: right;
  border: none;
  width: 3em;
}

.return-policy {
  display: flex;
  margin: auto;
  padding: 10px 0px;
}

.return-policy .lead {
  display: block;
  padding-right: 20px;
}

.return-policy .copy {
  display: block;
  padding-left: 20px;
  border-left: thin solid #E5E5E5;
  font-size: smaller;
}

.primary-button-group, .secondary-button-group {
  text-align: center;
  padding:20px 0px;
}

.available-in-store {
  background: #333333;
  border-color: #333333;
}

.available-in-store:hover {
  background: #000000;
  border-color: #000000;
}

.available-online {
  background: #CA0813;
  border-color: #CA0813;
}

.available-online:hover {
  background: #A8050F;
  border-color: #A8050F;
}

.secondary-button-group .btn {
  color: black;
  background: #EAEAEA;
  border-color: #EAEAEA;
}

.secondary-button-group .btn:hover {
  background: #D3D3D3;
  border-color: #D3D3D3;
}

.ratings {
  display: block;
  background-color: #FFFFFF;
}

.ratings p {
  padding-top: 10px;
  padding-left: 10px;
  float: left;
}

.ratings a {
  padding-top: 10px;
  float: right;
}

.stars {
  border: none;
  float: left;
}

.stars > input {
  display: none;
}

.stars > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.stars > .half:before {
  content: "\f089";
  position: absolute;
}

.stars > label {
  color: #ddd;
  float: right;
}

.stars > input:checked ~ label,
.stars > input:checked + label:hover,
.stars > input:checked ~ label:hover,
.stars > label:hover ~ input:checked ~ label,
.stars > input:checked ~ label:hover ~ label
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
  color: #CA0813;
}

.reviews {
  background-color: #EAEAEA;
  padding: 10px;
  font-size: smaller;
}

.reviews-header {
  display: flex;
}

.reviews-body {
  display: flex;
}
