@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-weight: 300;
}

.price h2 {
  font-weight: 700;
}

small {
  font-size: small;
}

button {
  align-items: flex-start;
  margin: 3px;
}

.container {
  padding: 50px;
}

.carousel {
  padding: 20px;
}
.carousel .thumbnail {
  max-width: 100px;
  max-height: 100px;
}

.promotions {
  color: #CA0813;
}

.return-policy {
  display: flex;
  margin: auto;
  padding: 10px 0px;
}

.return-policy .lead {
  display: block;
  padding-right: 20px;
}

.return-policy .copy {
  display: block;
  padding-left: 20px;
  border-left: thin solid #E5E5E5;
  font-size: smaller;
}

.primary-button-group, .secondary-button-group {
  text-align: center;
  padding:20px 0px;
}

.available-in-store {
  background: #333333;
  border-color: #333333;
}

.available-in-store:hover {
  background: #000000;
  border-color: #000000;
}

.available-online {
  background: #CA0813;
  border-color: #CA0813;
}

.available-online:hover {
  background: #A8050F;
  border-color: #A8050F;
}

.secondary-button-group .btn {
  color: black;
  background: #EAEAEA;
  border-color: #EAEAEA;
}

.secondary-button-group .btn:hover {
  background: #D3D3D3;
  border-color: #D3D3D3;
}

.ratings {
  display: block;
  background-color: #FFFFFF;
}

.stars {
  border: none;
  float: left;
}

.stars > input { display: none; }
.stars > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.stars > .half:before {
  content: "\f089";
  position: absolute;
}

.stars > label {
  color: #ddd;
 float: right;
}

.stars > input:checked ~ label,
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
   color: #FFD700;
}

.stars > input:checked + label:hover,
.stars > input:checked ~ label:hover,
.stars > label:hover ~ input:checked ~ label,
.stars > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

.reviews {
  background-color: #EAEAEA;
  padding: 10px;
}

.reviews-header {
  display: flex;
}

.reviews-body {
  display: flex;
}
